<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Flight SaverPro</title>
</head>
<body>
    <div class="container">
        <h1>Flight SaverPro</h1>
        <form action="{{ url_for('scrape_route.scrape') }}" method="get">
            <label for="departure">Departure Location:</label>
            <input type="text" name="departure" id="departure" placeholder="from" required>
        
            <label for="arrival">Arrival Location:</label>
            <input type="text" name="arrival" id="arrival" placeholder="To" required>
        
            <label for="date">Date:</label>
            <input type="date" name="date" id="date" required>
        
            <input type="submit" value="Search Flights">
        </form>
        

        {% if flight_data %}
        <h2>Flight Results</h2>
        <div class="flight-cards">
            {% for flight in flight_data %}
                <div class="flight-card">
                    <h3>{{ flight['Site'] }}</h3>
                    <p>Price: {{ flight['Flight Price'] }}</p>
                    <p>Duration: {{ flight['Flight Duration'] }}</p>
                    <p>Departure: {{ flight['Departure Time'] }} - {{ flight['Departure Location'] }}</p>
                    <p>Arrival: {{ flight['Arrival Time'] }} - {{ flight['Arrival Location'] }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>


    <script>
        $(document).ready(function() {
            var airportCodes = [
                { label: "Bengaluru (BLR)", value: "BLR" },
                { label: "Delhi (DEL)", value: "DEL" },
                { label: "Chennai (MAA)", value: "MAA" },
                { label: "Hyderabad (HYD)", value: "HYD" },
                { label: "Mumbai (BOM)", value: "BOM" },
                { label: "Pune (PNQ)", value: "PNQ" },
                { label: "Kolkata (CCU)", value: "CCU" },
                { label: "Ahmedabad (AMD)", value: "AMD" },
                { label: "Jaipur (JAI)", value: "JAI" },
                { label: "Lucknow (LKO)", value: "LKO" },
                { label: "Surat (STV)", value: "STV" },
                { label: "Nagpur (NAG)", value: "NAG" },
                { label: "Indore (IDR)", value: "IDR" },
                { label: "Vishakhapatnam (VTZ)", value: "VTZ" },
                { label: "Bhopal (BHO)", value: "BHO" },
                { label: "Patna (PAT)", value: "PAT" },
                { label: "Ranchi (IXR)", value: "IXR" },
                { label: "Jodhpur (JDH)", value: "JDH" },
                { label: "Coimbatore (CJB)", value: "CJB" },
                { label: "Raipur (RPR)", value: "RPR" },
                { label: "Madurai (IXM)", value: "IXM" },
                { label: "Mangalore (IXE)", value: "IXE" },
                { label: "Trichy (TRZ)", value: "TRZ" },
                { label: "Vijayawada (VGA)", value: "VGA" },
                { label: "Goa (GOI)", value: "GOI" },
                { label: "Kochi (COK)", value: "COK" },
                { label: "Lucknow (LKO)", value: "LKO" },
                { label: "Varanasi (VNS)", value: "VNS" },
                { label: "Amritsar (ATQ)", value: "ATQ" },
                { label: "Guwahati (GAU)", value: "GAU" },
                { label: "Bhubaneswar (BBI)", value: "BBI" },
                { label: "Dehradun (DED)", value: "DED" },
                { label: "Vadodara (BDQ)", value: "BDQ" },
                { label: "Jammu (IXJ)", value: "IXJ" },
                { label: "Udaipur (UDR)", value: "UDR" },
                { label: "Srinagar (SXR)", value: "SXR" },
                { label: "Siliguri (IXB)", value: "IXB" },
                { label: "Agartala (IXA)", value: "IXA" },
                { label: "Agra (AGR)", value: "AGR" },
                { label: "Allahabad (IXD)", value: "IXD" },
                { label: "Amritsar (ATQ)", value: "ATQ" },
                { label: "Aurangabad (IXU)", value: "IXU" },
                { label: "Bareilly (BEK)", value: "BEK" },
                { label: "Belgaum (IXG)", value: "IXG" },
                { label: "Bhavnagar (BHU)", value: "BHU" },
                { label: "Bhuj (BHJ)", value: "BHJ" },
                { label: "Bikaner (BKB)", value: "BKB" },
                { label: "Chandigarh (IXC)", value: "IXC" },
                { label: "Cochin (COK)", value: "COK" },
                { label: "Dibrugarh (DIB)", value: "DIB" },
                { label: "Dimapur (DMU)", value: "DMU" },
                { label: "Gaya (GAY)", value: "GAY" },
                { label: "Gorakhpur (GOP)", value: "GOP" },
                { label: "Gwalior (GWL)", value: "GWL" },
                { label: "Hubli (HBX)", value: "HBX" },
                { label: "Imphal (IMF)", value: "IMF" },
                { label: "Jabalpur (JLR)", value: "JLR" },
                { label: "Jaisalmer (JSA)", value: "JSA" },
                { label: "Jamnagar (JGA)", value: "JGA" },
                { label: "Jharsuguda (JRG)", value: "JRG" },
                { label: "Kandla (IXY)", value: "IXY" },
                { label: "Kannur (CNN)", value: "CNN" },
                { label: "Khajuraho (HJR)", value: "HJR" },
                { label: "Kolhapur (KLH)", value: "KLH" },
                { label: "Kullu (KUU)", value: "KUU" },
                { label: "Leh (IXL)", value: "IXL" },
                { label: "Lilabari (IXI)", value: "IXI" },
                { label: "Ludhiana (LUH)", value: "LUH" },
                { label: "Mysore (MYQ)", value: "MYQ" },
                { label: "Nanded (NDC)", value: "NDC" },
                { label: "Nashik (ISK)", value: "ISK" },
                { label: "Pantnagar (PGH)", value: "PGH" },
                { label: "Pathankot (IXP)", value: "IXP" },
                { label: "Porbandar (PBD)", value: "PBD" },
                { label: "Rajahmundry (RJA)", value: "RJA" },
                { label: "Rajkot (RAJ)", value: "RAJ" },
                { label: "Ratnagiri (RTC)", value: "RTC" },
                { label: "Rewa (REW)", value: "REW" },
                { label: "Shillong (SHL)", value: "SHL" },
                { label: "Shimla (SLV)", value: "SLV" },
                { label: "Shirdi (SAG)", value: "SAG" },
                { label: "Sindhudurg (SDG)", value: "SDG" },
                { label: "Tezpur (TEZ)", value: "TEZ" },
                { label: "Tirupati (TIR)", value: "TIR" },
                { label: "Trivandrum (TRV)", value: "TRV" },
                { label: "Tuticorin (TCR)", value: "TCR" },
                { label: "Utkela (UAX)", value: "UAX" },
                { label: "Vidyanagar (VDY)", value: "VDY" },
                { label: "Vijaynagar (VDY)", value: "VDY" },
                { label: "Vishakhapatnam (VTZ)", value: "VTZ" },
                { label: "Warangal (WGC)", value: "WGC" }
            ];
            

    
            $("#departure, #arrival").autocomplete({
                source: airportCodes,
                minLength: 1,
                select: function(event, ui) {
                    $(this).val(ui.item.label);
                    return false; // Prevent the input from being updated with the selected value
                },
                appendTo: "body" // Append the suggestion list to the body
            });
        });
    </script>
</body>
</html>
